body {
  margin: 0;
  padding: 0;
}

.tableFixHead {
  overflow-y: auto;
  height: 100vh;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}
.tableFixHead tbody th {
  position: sticky;
  left: 0;
  z-index: 2;
}

div.rect {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 120px;
  height: 24px;
  background:#eee;
}

table  {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  min-width: 120px;
  text-align: center;
  height: 24px;
  line-height: 24px;
}
td {
  border: 1px solid #69899F;
}
th {
  background:#eee;
}
