body {
  margin: 0;
  padding: 0;
}
.app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.tableFixHead {
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}
.tableFixHead tbody th {
  position: sticky;
  left: 0;
  z-index: 2;
}

.hor_delimiter {
  position: fixed;
  background: #7a7a7a;
  z-index: 1;
}

div.rect {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 120px;
  height: 26px;
  background:#eee;
}

table  {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
th {
  text-align: center;
  min-width: 120px;
  height: 24px;
  line-height: 24px;
  background: #eee;
  cursor: pointer;
}
th.col-first {
  width: 120px;
}
th.row {
  width: 120px;
}
th.col {
  position: relative;
  width: 140px;
}
th.col:not(:nth-child(2)) .resize {
  position: absolute;
  width: 16px;
  top: 0;
  left: -8px;
  bottom: 0;
  cursor: col-resize;
  background-color: #eee;
  z-index: 11;
}
td {
  text-align: center;
  height: 24px;
  line-height: 24px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}
td.highlighted {
  background-color: #bfdfff;
}
td.active {
  background-color: #ffc2a3;
}
td.selected {
  border: 1px solid #fc1c03;
}
td.sel_top {
  border-top: 1px solid #fc1c03;
}
td.sel_right {
  border-right: 1px solid #fc1c03;
}
td.sel_bottom {
  border-bottom: 1px solid #fc1c03;
}
td.sel_left {
  border-left: 1px solid #fc1c03;
}
